<div class="viewport-setting content-conf about-page">
  <section class="fullpage">
    <div class="container">
      <p class="lead align-vertical-middle">Hi,<strong>Gerald Agustin</strong> Here.<br />
        Born in <strong>creativity</strong> and aiming to be a <strong>hero</strong>.
      </p>
    </div>
  </section>
  <section class="top-about">
      <div class="container-fluid">
        <h1 class="text-left"></h1>
        <article class="length-wise article-a-me">
          <p class="lead text-left">
            I am Gerald Ortiz. Agustin, 19 years old. A Web Developer/Designer a year and half of nonprofessional experience living in Las Piñas, Metro Manila, Philippines. And I am very passionate artist and creating new ideas. I am a type of person who thinks outside the box.
          </p>
          <p class="text-left paragraph-conf">
            I learn web technologies when I entered in Ama Computer Learning Center a college nearby where I was living. It was hard for me at first to get into a computer school because I don’t have a personal computer that time. Every time I go to school I felt so hard because there is a lot questions in my mind, "What should I've be after this" however that question made me to find the answers.
          </p>
          <p class="text-left paragraph-conf">
            When I get first and my own computer, I start getting to know html and css the basic components of the web and I set aside JavaScript because it is little bit too rough and hard to learn it.  Although at school we started to tackle server side scripting language ASP.NET and PHP. And PHP is my first programming language I fell into and I really love it. In school we have a terminal project, “The Smurfs” we need to make a website about the movie The Smurfs and the result is was good. But I am not satisfied about my work that why I study my project and I see my file structure was not good enough and revealing some of my stuff I don’t want to show.
          </p>
          <p class="text-left paragraph-conf">
            My research found out HTML, CSS and JavaScript which I used to my Smurf project is part of Document Object Model or The DOM which the is browser will interpret and users/client that see. Well I’ve said that PHP is server side programming language, since I have the basics that I learn from school then I research about PHP software architectural patterns and I found Model View Control or MVC. It was cool that I found MVC because this pattern I can apply on my thesis and lead to me what is web development is.
          </p>
        </article>
        <div class="length-wise">
          <img id="headshot" ng-src="assets/images/400x400.jpg" alt="headshot" />
          <div class="container-fluid">
            <hr />
            <nav class="text-center">
              <a href="{{core.info.social.facebook}}"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="{{core.info.social.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="{{core.info.contact.linkedin}}"><i class="fa fa-linkedin fa-2x"></i></a>
              <a href="mailto:{{core.info.contact.mailto}}"><i class="fa fa-envelope-o fa-2x"></i></a>
            </nav>
          </div>
        </div>
      </div>
  </section>

  <section class="fullpage">
    <div class="length-wise">
      <h2><strong>Skills</strong></h2>
      <article>
        <dl class="dl-horizontal">
          <dt>HTML</Sdt>
          <dd>XHTML | HTML5</dd>
          <dt>CSS</dt>
          <dd>CSS3 | SASS | COMPASS | Bootstrap | Foundation</dd>
          <dt>JavaScript</dt>
          <dd>ES5 | JQuery | AngularJS</dd>
          <dt>SQL</dt>
          <dd>MYSQL | SQLITE | MS SQL</dd>
          <dt>Server Side</dt>
          <dd>PHP | ASP.NET</dd>
          <dt>PHP MVC Frameworks</dt>
          <dd>CodeIgniter | Laravel | Slim Framework</dd>
        </dl>
      </article>
      <article>
        <p>
          &nbsp;I'm also familiar with such technology as Java, Nodejs, Wordpress and NoSQL databases like CouchDB and MongoDB.
        </p>
        <blockquote>
          <h3><strong>Design</strong></h3>
          <p>My technical design from Sketching, Wireframings and all the way to mocking up in photoshop and illustrator</p>
        </blockquote>
        <blockquote>
          <h3><strong>Development</strong></h3>
          <p>
          As I'm interested in artistic as the technical aspect. I also do programming and scripting in variety of languages
          for backend such as PHP and MySQL for frontend I also do HTML, CSS and JavaScript
          </p>
        </blockquote>

      </article>
    </div>
    <div class="length-wise">
      <div skill-chart id="chart-wrapper"></div>
    </div>
  </section>
  <section>
    <div class="onefourth">
      <div class="container">
        <blockquote class="text-center">
          <p>Stay <strong>hungry</strong>, Stay <strong>foolish</strong></p>
          <footer>
            Steve Jobs
          </footer>
        </blockquote>
      </div>
    </div>
  </section>
  <section>
    <div class="length-wise">
      <h2><strong>About the site</strong></h2>
      <article>
        <p class="lead">I handcrafted this website to showcase my skill and talent.</p>
        <h4><strong>Design and Development Inspiration</strong></h4>
        <p>In Development I used different technologies.</p>
        <dl class="dl-horizontal">
          <dt>HTML & CSS standards</dt>
          <dd>I used HTML 5, CSS 3 alongside with SASS and Compass as compiler, SVG or scalable vector graphics for the images and Bootstrap for content structure and design</dd>
          <dt>JavaScript tecnologies</dt>
          <dd>I used JavaScript libraries and framework such as AngularJs as Model View Control (MVC), JQuery for some javascript support and Highchart for the graph on the top.</dd>
          <dt>Building Style</dt>
          <dd>Single Page Application (SPA) why? I've say no more page restart for every link you click</dd>
          <dt>Hosted in Google Docs</dt>
          <dd>Yes it is!, there is no PHP or any sort of backend here but thanks to AngularJS for making dynamic site</dd>
        </dl>
        <p>My Design Inspiration</p>
        <dl class="dl-horizontal">
          <dt>Web design Trends</dt>
          <dd>I love to visit Awwwards and CSSawards to gather some ideas, design inspiration and web design trends <i class="fa fa-heart"></i></dd>
          <dt></dt>
        </dl>
      </article>
    </div>
    <div class="length-wise">
    </div>
  </section>
</div>
