/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { .viewport-setting { overflow-x: hidden; }
  .burger-open span { background: #E95139; }
  .burger-open span:before { transform: translateY(9px) rotate(0deg); }
  .burger-open span:after { transform: translateY(-9px) rotate(180deg); }
  .burger-close span { background: transparent; }
  .burger-close span:before { transform: translateY(0) rotate(135deg); }
  .burger-close span:after { transform: translateY(0) rotate(225deg); }
  .cs-close { transform: translateX(-100%); transition: transform 600ms ease; }
  .cs-open { transform: translateX(0); transition: transform 610ms ease; }
  .slideOff { transform: translateX(0); transition: transform 550ms ease; }
  .slideOn { transform: translateX(195px); transition: transform 650ms ease; }
  .main-sidebar { display: none; }
  .coresidebar { position: fixed; top: 0; bottom: 0; left: 0; opacity: 1; width: 205px; height: 100vh; z-index: 1000; background: #fff; }
  .coresidebar .csb-header { position: relative; top: 0; padding-top: 0.8em; padding-bottom: 0.8em; padding-left: 1em; height: 55px; width: 100%; }
  .coresidebar .csb-header #csb-name { position: relative; display: inline-block; float: left; color: #E95139; font-size: 16px; height: 30px; width: 160px; text-align: right; padding: 5px 10px 5px 5px; }
  .coresidebar .csb-header .csb-logo { width: 30px; height: 30px; display: inline-block; float: left; position: relative; left: 0; background: #E95139; }
  .coresidebar .csb-header .csb-logo svg { position: absolute; left: 50%; transform: translateX(-50%); width: 15px; height: 30px; }
  .coresidebar .csb-header .csb-logo svg .logo { fill: #fff; }
  .coresidebar .csb-nav { position: relative; margin-top: 1em; width: 100%; }
  .coresidebar .csb-nav a { position: relative; left: 0; display: block; text-decoration: none; padding: 0.4em 0 0.4em 0.8em; color: #FFF; font-size: 1.3em; overflow: hidden; }
  .coresidebar .csb-nav a:hover span { background: #E95139; color: #fff; }
  .coresidebar .csb-nav a:hover span:after { transform: translateX(100%); }
  .coresidebar .csb-nav a i { position: relative; display: inline-block; height: 30px; width: 30px; float: left; left: 0; font-size: 11px; background: #E95139; color: #fff; }
  .coresidebar .csb-nav a i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
  .coresidebar .csb-nav a span { position: relative; display: inline-block; float: left; left: 0; height: 30px; width: 150px; padding: 5px; text-align: right; text-transform: capitalize; color: #E95139; font-size: 16px; overflow: hidden; border: 1px solid #E95139; transition: color 300ms ease, background 760ms cubic-bezier(0.55, 0.09, 0.68, 0.53); }
  .coresidebar .csb-nav a span:after { content: ''; position: absolute; top: 0; left: 0; width: 160px; height: 30px; background: #E95139; transform-origin: center; transform: translateX(-100%); transition: transform 600ms cubic-bezier(0.65, 0.05, 0.36, 1); }
  .content-header { position: relative; width: 100%; left: 0; background: url("../images/bg.png"); background-attachment: fixed; }
  .content-header #i-h-header { position: relative; width: 100%; height: 64px; padding: 0.6em 1em; }
  .content-header #i-h-header #i-h-svg-wrap { position: absolute; width: 48px; top: 0.6em; right: 1em; background: #fff; padding: 0.4em 1em; }
  .content-header #i-h-header #i-h-svg-wrap svg { fill: #0058f0; }
  .content-header .i-h-content { position: relative; height: 85%; float: left; }
  .content-header .i-center { left: 50%; transform: translateX(-50%); }
  .content-header #i-h-leftcont { background: rgba(255, 255, 255, 0.3); width: 45%; border-bottom: solid 3px  #fff; }
  .content-header #i-h-leftcont .i-h-headshot { position: absolute; left: 50%; transform: translate(-50%, 40%); background: url("../images/400x400.jpg"); background-repeat: no-repeat; background-position: center center; background-size: cover; border-radius: 100%; width: 250px; height: 250px; }
  .content-header #i-h-leftcont .descript { position: absolute; bottom: 0; height: 35%; width: 100%; background: rgba(63, 193, 219, 0.6); }
  .content-header #i-h-leftcont .descript #arrow-box { position: absolute; width: 0; height: 0; background: transparent; left: 0; top: 50%; transform: translateY(-50%); border: 25px solid transparent; border-left-color: #fff; }
  .content-header #i-h-leftcont .descript h1 { font-weight: 700; letter-spacing: -2px; color: #fff; }
  .content-header #i-h-leftcont .descript p { font-size: 16px; color: #E95139; letter-spacing: .5px; }
  .content-header #i-h-leftcont .descript .social { padding: 10px 0; }
  .content-header #i-h-leftcont .descript .social a { padding: 8px 10px; }
  .content-header #i-h-leftcont .descript .social #twitter { background: #55acee; color: #fff; border: 1px solid #e1e8ed; }
  .content-header #i-h-leftcont .descript .social #fb { background: #3B5999; border: 1px solid #e1e8ed; color: #fff; }
  .content-header #i-h-leftcont .descript .social #mail { background: #292f33; border: 1px solid #e1e8ed; color: #fff; }
  .content-conf { position: relative; width: auto; display: block; margin-left: 55px; }
  .content-conf .content-header { position: relative; left: 0; width: 100%; height: 100vh; }
  .quote-one { background: #607D8B; }
  .quote-one .quote-inline { float: left; }
  .quote-one #left-quote { position: relative; width: 30%; height: 100%; background: #fff; }
  .quote-one #left-quote span { font-size: 4.5em; font-weight: 800; color: #607D8B; letter-spacing: -5px; }
  .quote-one #right-quote { position: relative; width: 70%; height: 100%; color: #fff; }
  .quote-one #right-quote:after { position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: transparent; content: ''; border: solid 3em transparent; border-left-color: #fff; height: 3em; width: 3em; }
  .i-about-top { position: relative; background: #5EFFC4; padding: 1em 1.5em; }
  .i-about { position: relative; background: #5EFFC4; padding: 1em 1.5em; z-index: 10; }
  .i-about .about-inline { position: relative; float: left; height: 100%; }
  .i-about .about-left { width: 35%; background: white; }
  .i-about .about-middle { width: 35%; background: rgba(255, 255, 255, 0.7); }
  .i-about .about-right { width: 30%; background: rgba(255, 255, 255, 0.4); }
  .i-about:after { position: absolute; content: ''; left: 0; bottom: 0; background: #5EFFC4; width: 110%; height: 35%; transform-origin: top left; transform-style: preserve-3d; transform: rotateZ(5deg); z-index: -1; }
  .i-blog { background-color: #ffc; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; }
  .i-contact .twitterside { background: #55acee; overflow: hidden; }
  .i-contact .twitterside #twitter { position: absolute; top: 50%; left: 50%; width: 70%; transform: translate(-50%, -50%); }
  .i-contact .mailside { background: #171723; }
  .i-contact .mailside .mail { background: #E95139; color: #171723; padding-top: 2em; }
  .i-contact .mailside .accounts { padding: 2em 0; }
  .i-contact .mailside .accounts .acc-grid { float: left; width: 25%; height: 100%; }
  .i-contact .mailside .accounts .acc-grid a { color: #fff; display: block; width: 100%; height: 100%; padding: 1em 0; border: solid 1px rgba(0, 0, 0, 0.3); }
  .i-contact .mailside .accounts .acc-grid a:hover { color: #9E9E9E; }
  .align-vertical-middle { position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%); }
  .onefourth { position: relative; left: 0; height: 25vh; }
  .cross-wise { position: relative; left: 0; width: 100%; height: 50vh; }
  .length-wise { position: relative; width: 50%; height: 100%; float: left; }
  .fullpage { position: relative; height: 100vh; width: 100%; }
  .background-index { background: #fff; }
  .background-about { background: #fff; } }
